<div *ngIf="!identity">
    <div class="Login">
        <div class="FirstSection d-lg-flex justify-content-lg-around">
            <div class="image">
                <img src="../../../assets/file.jpg" alt="Login" />
            </div>
            <div class="text">
                <img src="../../../assets/logo.png" alt="Logo" class="logo" />
                <hr width="50%" />
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form__body">
                        <img src="../../../assets/svg/email.svg" alt="Email" />
                        <input 
                            type="email"
                            placeholder="Dirección de correo electrónico"
                            class="form-control"
                            required
                            name="email"
                            id="email"
                            #email="ngModel"
                            [(ngModel)]="users.email"
                        />
                    </div>
                    <span class="text-danger FFP" *ngIf="email.errors?.required && email.touched">El correo electronico es obligatorio.</span>
    
                    <div class="form__body">
                        <img src="../../../assets/svg/password.svg" alt="Password" />
                        <input 
                            type="password"
                            placeholder="Contraseña"
                            class="form-control"
                            required
                            name="password"
                            id="password"
                            #password="ngModel"
                            [(ngModel)]="users.password"
                        />
                    </div>
                    <span class="text-danger FFP" *ngIf="password.errors?.required && password.touched">La contraseña es obligatorio.</span> 
    
                    <button 
                        type="submit"
                        class="btn"
                        [disabled]="!f.valid"
                    >
                        Iniciar sesión
                    </button>
    
                    <div class="alert alert-danger text-center pb-3 col-8 d-block m-auto small-shadow FFP" *ngIf="errorMessage">
                        <strong>ERROR:</strong> {{errorMessage}}
                     </div>

                </form>
                <p>¿Aún no tienes cuenta? Registra una cuenta facilmente haciendo clic <a [routerLink]="['sign-in']" routerLinkActive="router-link-active" >aquí</a></p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div *ngIf="identity">
    <app-learning-home></app-learning-home>
</div>