<div *ngIf="identity">
    <app-navbar-learning></app-navbar-learning>

    <h2 data-aos="fade-down" class="First">¿A que contenido deseas acceder?</h2>

    <div *ngIf="module">
        <div class="actions d-lg-flex justify-content-lg-start" *ngIf="identity.role == 'ROLE_ADMIN'" data-aos="fade-down">
            <a class="btn btn-edit waves-effect waves-ripple" (click)="onUpdateConfirm(module._id)">
                <img src="../../../../assets/svg/edit.svg" alt="Logo" />
                Editar módulo
            </a>
            <br class="visible-sm">
            <a class="btn btn-delete waves-effect waves-ripple" (click)="onDeleteConfirm(module._id)" data-aos="fade-down">
                <img src="../../../../assets/svg/trash.svg" alt="Logo" />
                Eliminar módulo
            </a>

 
        </div>

        <div class="secure" *ngIf="confirm == module._id">
            <p>¿Estas seguro de eliminar este módulo?</p>
            <div class="buttons d-lg-flex justify-content-lg-around">
                <a class="btn btn-cancel btn-primary waves-effect waves-ripple" (click)="onCancelModule()">
                    No, cancelar esta acción
                </a>
                <br class="visible-sm">
                <a class="btn btn-deletes btn-danger waves-effect waves-ripple" (click)="onDeleteContent(module._id)">
                    Sí, eliminar definitivamente
                </a>
            </div>
        </div>

                            
        <div class="secure-update" *ngIf="update == module._id">
            <p class="text-center mt-3">Modificar curso</p>
            <form (ngSubmit)="onUpdateContent(module._id)" #f="ngForm" class="col-12 col-sm-9 col-md-7 col-lg-5 d-block m-auto">
                <p>
                    <input type="text" class="form-control" name="course_name" #course="ngModel" [(ngModel)]="module.course" id="" value="{{module.course}}">
                </p>
                <p>
                    <input type="text" class="form-control" name="duration" #module_duration="ngModel" [(ngModel)]="module.module_duration" value="{{module.module_duration}}">
                </p>
                <p>
                    <input type="text" class="form-control" name="instructor" #module_name="ngModel" [(ngModel)]="module.module_name" value="{{module.module_name}}">
                </p>
                <p>
                    <input type="file" class="form-control" name="image" id="" (change)="fileChangeEvent($event)">
                </p>

                <div class="actions mt-3 d-lg-flex justify-content-lg-around">
                    <button type="reset" class="btn-danger btn waves-effect waves-ripple" (click)="onUpdateCancel()">Cancelar acción</button>
                    <button type="submit" class="btn-primary btn waves-effect waves-ripple">Actualizar contenido</button>
                </div>

            </form>
        </div>

    </div>

    <hr>

    <div class="FirstSection" *ngIf="content">
        <div class="container">
            <div class="row justify-content-around">
                <a
                    [routerLink]="[content.link + '/' + content._id ]"
                    routerLinkActive="router-link-active"
                    *ngFor="let content of content"
                    class="p-5 mt-5 rounded text-none"
                    data-aos="fade-down"
                >
                    <div class="image">
                        <img src="{{ url + '/get-files/' + content.files }}" alt="Icon" >
                    </div>
                    <div class="text">
                        <h4 class="number">{{content.number}}</h4>
                        <h4>{{content.namecontent}}</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="identity.role == 'ROLE_ADMIN' && module">
    <a [routerLink]="['add-content/', module._id]" routerLinkActive="router-link-active"class="ThirdSection btn-adds">
        <div>
            <img src="../../../../assets/svg/addE.svg" alt="adds">
        </div>
    </a>    
</div>               
<h2 data-aos="fade-down" class="First">EMPEZAR AHORA</h2>

<div class="clearfix"></div>

<div *ngIf="!identity">
    <div class="alert alert-danger w-50 d-block m-auto text-center">
        <span class="mt-5">You must log in to view the content of this platform.</span>
    </div>
</div>