@import '../videos-learning/videos-learning.component.scss';

.rea {
    margin-top: 2em;
    text-align: center;
    font-family: $Poppins;
    font-weight: 500;
    font-size: 1em;
    color: $grey-500;
}