<div *ngIf="identity">
    <app-navbar-learning></app-navbar-learning>
    <div class="TwoSection">
        <h2>PDF's del curso</h2>
        <hr>
    </div>
    <div class="FirstSection" *ngIf="pdf">
        <div class="container">
            <div class="row justify-content-around">
                <a
                    [routerLink]="['view/' + pdf._id]" routerLinkActive="router-link-active" 
                    *ngFor="let pdf of pdf"
                    class="p-4 mt-5 rounded text-none"
                >
                    <h2> {{pdf.number}} </h2>
                    <hr>
                    <h3> {{pdf.namePDF}} </h3>
                </a>
            </div>
        </div>
    </div>

    <div *ngIf="content">
        <div *ngIf="identity.role == 'ROLE_ADMIN'">
            <a [routerLink]="['add-pdf/', content._id]" routerLinkActive="router-link-active"class="ThirdSection btn-adds">
                <div>
                    <img src="../../../../assets/svg/addE.svg" alt="adds">
                </div>
            </a>    
        </div>    
    </div>

    <h2 class="rea">¿No entendiste en su totalidad algún tema o practica? Consulta este <strong>REA</strong> para apoyarte dando <a href="https://www.pequerecetas.com/" target="_blank">clic aquí</a></h2>

</div>

<div *ngIf="!identity">
    <div class="alert alert-danger w-50 d-block m-auto text-center">
        <span class="mt-5">You must log in to view the content of this platform.</span>
    </div>
</div>