<nav class="navbar navbar-expand-lg navbar-light p-4">
    <div class="container">
        <!-- Logo y opciones de navegación -->
        <a class="navbar-brand" href="/" data-aos="fade-right">Centli</a>
        <button class="navbar-toggler menu-wrapper" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger-menu"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active ml-2 text-uppercase" data-aos="fade-right">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2 text-uppercase" href="/store" data-aos="fade-right">Tienda</a>
                </li>
                <li>
                    <a class="nav-link ml-2 text-uppercase" href="/learning" data-aos="fade-right">Cursos</a>
                </li>
                <li>
                    <a class="nav-link ml-2 text-uppercase" href="tutorial" data-aos="fade-right">Ven si eres nuevo!</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Barra animada con mensaje "Buen Fin 2024" -->
    <div class="promo-bar">
        <span>¡Buen Fin 2024!</span>
    </div>
</nav>
